<!DOCTYPE html>

<html ng-app="startupbackend">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <script src="~/app/bower_components/angular/angular.js"></script>
    <script src="~/app/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/app/bower_components/lodash/dist/lodash.js"></script>

    <link rel="text/css" href="~/app/bower_components/dist/css/bootstrap.css" />

    <script src="~/app/dist/js/app.js"></script>
</head>
<body>
    <div ui-view></div>
</body>
</html>
